.root {
  // add your styles here
  &::before {
    content: '';
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 1;
    @apply absolute inset-0;
  }

  .fact {
    @screen md {
      &:not(:last-of-type)::after {
        content: '|';
        display: inline-block;
        margin-left: 0.7rem;
      }
    }
  }
}
