.root {
  .fact {
    @screen md {
      &:not(:last-of-type)::after {
        content: '|';
        display: inline-block;
        margin-left: 0.7rem;
      }
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  .backgroundImage {
    img {
      @screen md {
        border-radius: 1.5rem;
      }
    }
  }

  :global(.gradient-overlay)::after {
    @screen md {
      border-radius: 1.5rem;
    }
  }
}
