.root {
  @apply sticky top-0  z-40 transition-all duration-150;

  .subNav {
    @apply absolute right-0 top-full bg-white w-screen;
    @apply opacity-0;
    left: -300vw;
    border-top: 0.5px solid #b3b3b3;
  }

  .openSubNav {
    @apply opacity-100;
    left: 0;
  }

  .quicklink {
    @apply typo-nav-quicklink;
  }
  .quicklinkContainer > *:last-child {
    margin-top: 50px;
    color: #00338d;
  }
  .pharmacyLink {
    @apply typo-pharmacy-nav-link;
  }

  .link {
    //column-span: 2;
    @apply typo-nav-link;
  }
  .marketingBoxHeading {
    @apply typo-h6;
  }
  .marketingBoxLink,
  .videoText {
    @apply typo-small-paragraph;
  }

  .LinkContainer {
    a:nth-child(2) {
      @apply mb-40;
    }
  }

  .helpInfoText {
    @apply typo-help-contact-info;
    line-height: 1.1;
  }
  .helpInfoUnderlined {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .helpCopy,
  .accountCopy {
    @apply typo-large-paragraph;
  }
  .helpHeadline,
  .accountHeadline {
    @apply typo-h4 text-blue-default;
  }
  .blueBackground {
    background: url('../../../assets/svg/helpBg.svg') no-repeat center bottom;
    background-size: cover;
    background-position: 100% 5%;
    z-index: 10;
  }
  .NavigationLayoutsYourAccount {
  }
  .navButton {
    @apply typo-right-arrow-cta text-blue-default;
  }

  .search {
    > span:last-child {
      display: none;
    }
  }
  .cartItems {
    @apply typo-cart-items;
  }

  .specialsLink {
    @apply typo-right-arrow-cta text-red;
  }
}
