.root {
  // add your styles here
  .heroImage {
    width: 100vw;
    margin: 0 calc(50% - 50vw) 3rem;
    @screen md {
      width: calc(50vw - 1rem);
      margin: 0 0 0 calc(100% - (50vw - 1rem));
    }
  }
}
