.root {
  :global {
    .swiper-button-prev,
    .swiper-button-next {
      @apply w-50 md:w-70 h-auto;
      &::before {
        content: '';
      }
    }
    .swiper-button-next {
      top: 25%;
      @apply md:top-[35%];
    }
    .swiper-button-prev {
      top: 25%;
      @apply md:top-[35%];
    }
  }
}
