.root {

  padding: 10rem 0rem;
  h1,
  h2,
  h3,
  p,
  div,
  span,
  li {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  p, div, span, li {
    margin-bottom: 4rem;
  }
  a {
    color: theme('colors.blue.default');
    font-weight: 700;
  }

  ul {
    list-style: circle;
  }
}
