.root {
  @apply pt-70 pb-80 relative;
  @apply md:pt-140 md:pb-160 min-h-[450px] md:min-h-[620px];

  .backgroundContainer {
    @apply absolute left-0 top-0 w-full h-full;
    z-index: -1;
    background-color: #f3f3f3;
  }

  .sublineContainer {
    @apply text-blue typo-eyebrow mb-10 col-start-1 col-span-2;
    @apply md:col-start-1 md:col-span-5;
  }

  .headlineContainer {
    @apply text-blue mb-10 col-start-1 col-span-2;
    @apply md:col-start-1 md:col-span-5;
  }

  .copyContainer {
    @apply text-black typo-large-paragraph col-start-1 col-span-2;
    @apply md:col-start-1 md:col-span-4;
  }
  :global {
    .trademark {
      font-size: 1.5rem;
      @apply md:text-[2.5rem];
      vertical-align: super;
    }
  }
}
