.root {
  .backgroundImage {
    background: url('/chipLinksBg.svg') no-repeat center bottom;
    background-size: cover;
    width: 100%;
    @apply inset-0 absolute;
  }

  .buttons {
    @screen md {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }
}
