.root {
  position: relative;
  display: block;
  text-decoration: underline;

  &.blue {
    color: theme('colors.blue.default');
  }
  &.black {
    color: theme('colors.black');
  }
  &.disabled {
    pointer-events: none;
    color: theme('colors.greyscale.4');
  }

}
