.root {
  :global {
    .swiper-button-prev,
    .swiper-button-next {
      @apply w-50 md:w-70 h-auto;
      &::before {
        content: '';
      }
    }

    .swiper-button-next {
      top: 25%;

      @screen md {
        right: -4rem;
      }
    }
    .swiper-button-prev {
      top: 25%;
      @screen md {
        left: -9rem;
      }
    }

    .swiper-container {
      @apply pb-120;
    }
  }
}
