.root {
  position: relative;

  .accordionRoot {
    padding: 2rem;
    cursor: pointer;
    border-top: 1.5px solid theme('colors.greyscale.4');
    &:last-of-type {
      border-bottom: 1.5px solid theme('colors.greyscale.4');
    }

    h5 {
      transition: 200ms linear color;
    }
    &:global(.selected) {
      h5 {
        color: theme('colors.red');
      }
    }
  }

  span {
    text-transform: uppercase;
  }
  h3,
  span {
    color: theme('colors.blue.default');
  }
}
