.root {
  // add your styles here
  @apply w-full;

  .row {
    @apply flex justify-between;
  }

  .productName {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
    font-weight: 400;
  }

  .productPrice {
    @apply text-red;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
    font-weight: 700;
  }

  .productId {
    @apply typo-nav-links;
  }

  .productOldPrice {
    @apply typo-nav-links;
    text-decoration: line-through;
  }

  .addToCartButton {
    padding: 1.35rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;

    @screen md {
      padding: 1.35rem 4rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
  }
}
