.root {
  // add your styles here
  @apply w-full;

  .row {
    @apply flex justify-between;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;

    @screen md {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .productName {
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: -1%;
    font-weight: 400;
    margin-bottom: 1rem;
    @screen md {
      margin-bottom: 0;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  .productPrice {
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: -1%;
    font-weight: 700;

    @screen md {
      color: theme('colors.red');
    }
  }

  .productId {
    display: none;

    @screen md {
      @apply typo-nav-links;
      display: block;
    }
  }

  .productOldPrice {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-decoration: line-through;

    @screen md {
      @apply typo-nav-links;
    }
  }

  .addToCartButton {
    padding: 1.35rem 2.5rem;
    line-height: 1.7rem;
    padding: 1.35rem 4rem;
    font-size: 1.8rem;
    @screen md {
      line-height: 2.3rem;
    }
  }
}
