.root {
  // add your styles here
  @apply bg-cream;

  .headline {
    @apply text-blue typo-h2;
    font-size: 2.5rem;
    line-height: 3rem;
    @screen md {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }

  .brandLink {
    @apply w-full relative block;

    &::before {
      content: ' ';
    }
  }
}
