.root {
  // add your styles here
  @apply py-20;
  @screen md {
    @apply py-85;
  }

  .card + .card {
    // @apply mt-20;
  }

  .card {
    & + .card {
      @apply mt-20;
      @screen md {
        @apply mt-0;
      }
    }
  }

  .headline {
    @apply absolute text-white z-10 typo-h4;
    bottom: 6rem;
    left: 2.5rem;
    right: 4rem;

    @screen md {
      bottom: 12rem;
      right: 10rem;
      left: 6rem;
    }

    @screen lg {
      bottom: 14rem;
      @apply typo-h3;
    }
  }

  .image {
    @apply overflow-hidden;
    border-radius: 1rem;
    @screen md {
      border-radius: 1.5rem;
    }
  }

  .link {
    @apply absolute z-10;
    bottom: 1.5rem;
    left: 2.5rem;
    height: 4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    @screen md {
      height: 5rem;
      bottom: 6rem;
      left: 6rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
      padding-top: 1.35rem;
      padding-bottom: 1.35rem;
    }
  }
}
