.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
  padding: 3rem 5rem 5rem 6rem;
  width: 100%;

  @screen lg {
    width: 60rem;
  }

  .headline {
    font-weight: bold;
    color: theme('colors.blue.default');
    margin-bottom: 2.5rem;
  }

  .productsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .productsColumn {
    flex-grow: 1;
    overflow-y: auto;
    margin-right: -3rem;
    padding-right: 3rem;
  }

  .subtotalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;

    h5 {
      color: theme('colors.blue.default');
      font-weight: bold;
    }
  }
}
