.root {
  .headerContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
    color: theme('colors.blue.default');

    h5 {
      font-weight: 700;
      margin-bottom: 1rem;

      @screen md {
        margin-bottom: 0rem;
      }
    }

    a {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    @screen md {
      margin-bottom: 3rem;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .myPetHealthLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: theme('colors.greyscale.6');
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    padding: 2.1rem;

    @screen md {
      margin-bottom: 2rem;
      padding: 2.5rem 6.5rem;
    }

    span {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.2rem;

      @screen md {
        font-size: 1.8rem;
        line-height: 3.8rem;
      }
    }

    &.mobileOnly {
      @screen md {
        display: none;
      }
    }
  }

  .rightChevron {
    cursor: pointer;
    transform: rotate(90deg) scale(0.5);
  }
}
