.root {
  .circle {
    background-size: contain;
    width: auto;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    // z-index: 10;
    // background-position: center;
    // width: 100%;
    svg {
      width: 55%;
      height: auto;
      transform: translate(-25%, 17%);
    }
  }

  .imageWrapper {
    @apply col-span-full md:col-span-6 relative md:row-span-6;
    @screen md {
      margin-right: calc(50% - 50vw);
      width: 50vw;
    }
  }
}
