html {
  font-family: 'Foco';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
body.loading * {
  transition: none !important;
}

button {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;

  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none;
    -webkit-appearance: none;
  }
}

.devGrid {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  .col {
    background-color: rebeccapurple;
    opacity: 0.1;
  }
}
