@font-face {
  font-family: 'Foco';
  font-weight: 300;
  font-display: swap;
  src: url('./../assets/fonts/FOCOLIGHT.TTF') format('ttf'),
    url('./../assets/fonts/FOCOLIGHT.woff') format('woff'),
    url('./../assets/fonts/FOCOLIGHT.woff2') format('woff2');
}

@font-face {
  font-family: 'Foco';
  font-weight: 400;
  font-display: swap;
  src: url('./../assets/fonts/FOCO.TTF') format('ttf'),
    url('./../assets/fonts/FOCO.woff') format('woff'),
    url('./../assets/fonts/FOCO.woff2') format('woff2');
}

@font-face {
  font-family: 'Foco';
  font-weight: 500;
  font-display: swap;
  src: url('./../assets/fonts/FOCOBOLD.TTF') format('ttf'),
    url('./../assets/fonts/FOCOBOLD.woff') format('woff'),
    url('./../assets/fonts/FOCOBOLD.woff2') format('woff2');
}
