.root {
  a > span {
    text-decoration: underline;
    text-decoration-color: rgba(#000, 0);
    @apply transition duration-500;
  }

  a:hover > span {
    @apply decoration-black;
  }

  .categoryImageContainer {
    margin-bottom: 1rem;
    aspect-ratio: 1;
    position: relative;
    width: 12.8rem;

    @screen md {
      width: 15.7rem;
    }
  }
}
